<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WindowWithSize" value="1280"/>
		<add key="WindwoHeightSize" value="758"/>
		<add key="WindowBackgraundColor" value="#000000"/>
		<add key ="WindowName" value="Pak-man"/>
		<add key ="WindowFormBorderStyle" value ="static"/>
		
		<add key="ButtonBackgraundColor" value="#2121ff"/>
		<add key="ButtonBorderColor" value="#00ff00"/>
		<add key="ButtonFontColor" value="#97ff00"/>
		
		<add key="ButtonFontName" value="Pixelify Sans"/>
		<add key="ButtonFontStyle" value="bold"/>

		<add key ="NormalButtonW" value="208"/>
		<add key ="NormalButtonH" value="60"/>
		<add key ="NormalButtonFontSize" value ="20"/>

		<add key ="WideButtonW" value="420"/>
		<add key ="WideButtonH" value="90"/>
		<add key ="WideButtonFontSize" value ="24"/>
		
		<add key ="HugeButtonW" value="180"/>
		<add key ="HugeButtonH" value="360"/>
		<add key ="HugeButtonFontSize" value="40"/>

		<add key ="BackButtonW" value="60"/>
		<add key ="BackButtonFontSize" value="30"/>

		<add key="MenuBackGraundL3W" value="520"/>
		<add key="MenuBackGraundL3H" value="250"/>
		<add key="MenuBackgraundColor" value="#ff21ae"/>

		<add key="PanelBackgraundColor"  value="#2121ff"/>

		<add key="PathToJsonFile" value="Map_Matrix_3D.json"/>
		
		
		
		
	</appSettings>
</configuration>